<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container mt-4">
    <div class="container-fluid">
        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <i class="fas fa-bolt" style="color: orange;"></i>
                            </div>
                            <div class="col">
                                <h5 class="card-title">Total</h5>
                            </div>
                        </div>
                        <div class="col">
                            <h5 class="card-title">{{ Total }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <i class="fas fa-circle-check" style="color: orange;"></i>
                            </div>
                            <div class="col">
                                <h5 class="card-title">Confirmed</h5>
                            </div>
                        </div>
                        <div class="col">
                            <h5 class="card-title">{{ Confirmed }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <i class="fa-solid fa-square-check" style="color: orange;"></i>
                            </div>
                            <div class="col">
                                <h5 class="card-title">Closed</h5>
                            </div>
                        </div>
                        <div class="col">
                            <h5 class="card-title">{{ Closed }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <i class="fa-solid fa-circle-xmark" style="color: orange;"></i>
                            </div>
                            <div class="col">
                                <h5 class="card-title">Cancelled</h5>
                            </div>
                        </div>
                        <div class="col">
                            <h5 class="card-title">{{ Cancelled }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <h3>All appointments</h3>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center"> <!-- Centering the content -->
            <form action="post" method="post">
                <input type="date" name="selectedDate" [(ngModel)]="selectedDate">
            </form>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center"> <!-- Centering the content -->
            <select name="Status" class="form-select">
              <option value="" hidden>Select Status</option>
              <option value="confirmed">Confirmed</option>
              <option value="completed">Completed</option>
              <option value="cancelled">Cancelled</option>
            </select>
        </div>
        <div class="col-3 d-flex align-items-center justify-content-center"> <!-- Centering the content -->
            <button class="btn" style="background-color: orange; color: white;">+ New Appointment</button>
        </div>
    </div>
    <hr>
</div>

<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        <div class="col mb-4" *ngFor="let appointment of filterAppointmentsByDate()">
            <div class="card shadow mt-3">
                <div class="row ms-1">
                    <div class="col-md-4 col-12 d-flex align-items-center justify-content-center">
                        <img src="https://hips.hearstapps.com/hmg-prod/images/little-cute-maltipoo-puppy-royalty-free-image-1652926025.jpg?crop=0.444xw:1.00xh;0.129xw,0&resize=980:*" class="card-img-top rounded-circle" style="width: 80px; height: 80px; object-fit: cover;" alt="...">
                    </div>
                    <div class="col-md-8 col-12">
                        <div class="card-body">
                            <h5 class="card-title">{{ appointment.pet.name }}</h5>
                            <p class="text-muted">{{ appointment.pet.species }} ({{ appointment.pet.age }} years)</p>
                            <p class="text-muted card-text">Owner: {{ appointment.owner.name }}</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 ms-1 me-1">
                    <div class="col-md-6 col-12 px-1">
                        <h6 class="card-text">{{ appointment.time }}</h6>
                        <h6 class="card-text">{{ appointment.date }}</h6>
                    </div>
                    <div class="col-md-6 col-12 d-flex align-items-center justify-content-between">
                        <i class="far fa-comment" style="color: orange;"></i>
                        <i class="fas fa-phone" style="color: orange;"></i>
                        <i class="fas fa-video" style="color: orange;"></i>
                    </div>
                </div>                
                <div class="card-body">
                    <a href="#" class="btn col-md-6 col-12">Details</a>
                    <a href="#" class="btn col-md-6 col-12">Feedback</a>
                </div>
            </div>
        </div>
    </div>
</div>
