<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container mt-4">
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <i class="fas fa-bolt" style="color: orange;"></i>
                            </div>
                            <div class="col">
                                <h5 class="card-title">Total</h5>
                            </div>
                        </div>
                        <div class="col">
                            <h5 class="card-title">{{ a.Total }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <i class="fas fa-circle-check" style="color: orange;"></i>
                            </div>
                            <div class="col">
                                <h5 class="card-title">Confirmed</h5>
                            </div>
                        </div>
                        <div class="col">
                            <h5 class="card-title">{{ a.Confirmed }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <i class="fa-solid fa-square-check" style="color: orange;"></i>
                            </div>
                            <div class="col">
                                <h5 class="card-title">Closed</h5>
                            </div>
                        </div>
                        <div class="col">
                            <h5 class="card-title">{{ a.Closed }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <i class="fa-solid fa-circle-xmark" style="color: orange;"></i>
                            </div>
                            <div class="col">
                                <h5 class="card-title">Cancelled</h5>
                            </div>
                        </div>
                        <div class="col">
                            <h5 class="card-title">{{ a.Cancelled }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>


 <!-- <div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <h3>All appointments</h3>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center"> 
            <form action="post" method="post">
                <input type="date" name="selectedDate" [(ngModel)]="selectedDate">
            </form>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center"> 
            <select name="Status" class="form-select">
              <option value="" hidden>Select Status</option>
              <option value="confirmed">Confirmed</option>
              <option value="completed">Completed</option>
              <option value="cancelled">Cancelled</option>
            </select>
        </div>
        <div class="col-3 d-flex align-items-center justify-content-center"> 
            <button class="btn" style="background-color: orange; color: white;">+ New Appointment</button>
        </div>
    </div>
    <hr>
</div> -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3 col-sm-12">
            <h3>All appointments</h3>
        </div>
        <div class=" container-box col-md-3 col-sm-6 d-flex align-items-center justify-content-center"> 
            <form action="post" method="post">
                <input type="date" name="selectedDate" [(ngModel)]="selectedDate" (change)="onDateChange()">
            </form>
        </div>
        <div class=" container-box col-md-3 col-sm-6 d-flex align-items-center justify-content-center"> 
            <select name="Status" class="form-select" (change)="onStatusChange()" [(ngModel)]="selectedStatus">

                <option value="">Select Status</option>
                <option value="confirmed">Confirmed</option>
                <option value="completed">Completed</option>
                <option value="cancelled">Cancelled</option>
            </select>
        </div>
        <div class="col-md-3 col-sm-12 d-flex align-items-center justify-content-center"> 
            <button class="btn" style="background-color: orange; color: white;">+ New Appointment</button>
        </div>
    </div>
    <hr>
</div>


<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-sm-2 row-cols-lg-4 g-4">
        <div class="col mb-4" *ngFor="let appointment of appointmentCards">
            <app-card [appointmentcard]="appointment" [user] = "user"></app-card>
        </div>
    </div>
</div>
